name: Test Suite

on:
  pull_request:
    branches: [main]

permissions:
  contents: read
  pull-requests: write
  security-events: write

jobs:
  test-suite:
    uses: kubeadapt/actions/.github/workflows/golang-private-test-suite.yml@main
    with:
      docker_image_name: ${{ github.event.repository.name }}
